.container-fluid{
	margin: 0;
	padding: 0;
}
.navbar{
  border-radius: 0px;
	background-color: rgba(136, 250, 193, 0.8);
}

.navbar-brand{
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding-left: 25px;
  font-family: Georgia, serif;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}

.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
  font-size: 50px;
  font-family: Palatino, URW Palladio L, serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: rgb(226, 191, 191);
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color: rgba(190, 16, 16, 0.9);
  color: rgba(0,0,0,0.4);
  font-family: DejaVu Sans Mono, monospace;
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family:   sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#top{

}
