* {
  box-sizing: border-box;
}

body{
  font-family: "cursive", sans-serif, system-ui;
}
.row{
  margin-top: 10%;
  margin-bottom: 10%;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #7FFF00;
  font-size: 50px;
}

.box{
  width: 100%;
overflow: none; 
}

.content-name{
  overflow: none;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 30px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.content{
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background-color:grey;
  box-shadow: 10px 5px 5px grey;
}

.name1{
  background-color: #F0F8FF;
}

.name2{
  color: white;
  background-color: #6495ED;
}
.name3{
  background-color: #00FFFF;
}

@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
 .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 30px;
  }
}
